## Assignment 1

In [ ]:
# Task 1

products=["Mobile","Refrigerator","T.V","Table","Laptop","CPU"]
sample_product=("Laptop",50000,"Electronics")

print(products[1],products[-1])

products.append("printers")
products.append("Speaker")

print(products)

sample_product=list(sample_product)
sample_product[1]=75000
sample_product=tuple(sample_product)
print(sample_product)

Refrigerator CPU
['Mobile', 'Refrigerator', 'T.V', 'Table', 'Laptop', 'CPU', 'printers', 'Speaker']
('Laptop', 75000, 'Electronics')

In [ ]:
# Task 2

products=["Mobile","Refrigerator","T.V","Table","Laptop","CPU"]
categories=["Device","Electronics","Electronics","Furniture","Device","Electronics"]
categories_set=set(categories)

print(categories_set)
categories_set.add("Furniture")
print(categories_set)  # sets does not allow the duplicate elemnts

if "Device" in categories_set:
    print(True)
else:
    print(False)

print("The total number of unique categories :",len(categories_set))

{'Electronics', 'Device', 'Furniture'}
{'Electronics', 'Device', 'Furniture'}
True
The total number of unique categories : 3

In [ ]:
## task 3

price_dict={"Nokia":2000,"Realme":8000,
            "Samsung":20000,"MI":15000,
            "Ipad":75000,"blackberry":500}
print(price_dict)

price_dict.update({"Iball":1700}) # add new item
print(price_dict)

price_dict["blackberry"]=400  # value updated
print(price_dict)

if "MI" in price_dict:
    price_dict.pop("MI")
else:
    print("Product not valid")

print(price_dict) # item deleted

total_price=sum(price_dict.values())
total_length=len(price_dict)

print("The average price :", total_price/total_length) # Average price

{'Nokia': 2000, 'Realme': 8000, 'Samsung': 20000, 'MI': 15000, 'Ipad': 75000, 'blackberry': 500}
{'Nokia': 2000, 'Realme': 8000, 'Samsung': 20000, 'MI': 15000, 'Ipad': 75000, 'blackberry': 500, 'Iball': 1700}
{'Nokia': 2000, 'Realme': 8000, 'Samsung': 20000, 'MI': 15000, 'Ipad': 75000, 'blackberry': 400, 'Iball': 1700}
{'Nokia': 2000, 'Realme': 8000, 'Samsung': 20000, 'Ipad': 75000, 'blackberry': 400, 'Iball': 1700}
The average price : 17850.0

In [ ]:
# task 4

products=["Mobile","Refrigerator","T.V","Table","Laptop","CPU"]
categories=["Device","Electronics","Electronics","Furniture","Device","Electronics"]
price_dict={"Mobile":11000,"Refrigerator": 35000,
            "T.V":14500,"Table": 700
            ,"Laptop":60000,"CPU":5000}

catalog=[]
for i in range(len(products)):
    product=products[i]
    price=price_dict[product]
    category=categories[i]

    catalog.append((product,price,category))

print(catalog)
print("\n")



category_to_products = {}

for product, price, category in catalog:
    if category not in category_to_products:
        category_to_products[category] = []
    
    category_to_products[category].append(product)

print("Category Mapping:", category_to_products)



max_category = max(category_to_products, key=lambda x: len(category_to_products[x]))

print("Category with maximum products:", max_category)
print("Products:", category_to_products[max_category])

[('Mobile', 11000, 'Device'), ('Refrigerator', 35000, 'Electronics'), ('T.V', 14500, 'Electronics'), ('Table', 700, 'Furniture'), ('Laptop', 60000, 'Device'), ('CPU', 5000, 'Electronics')]


Category Mapping: {'Device': ['Mobile', 'Laptop'], 'Electronics': ['Refrigerator', 'T.V', 'CPU'], 'Furniture': ['Table']}